{% extends '_base.html' %}

{% block title %}
    жалоба №{{object.pk}}
{% endblock title %}

{% block content %}
    <h2>Жалоба №{{object.pk}}|{{object.title}}</h2>
    <p>{{object.text}}</p>
    {% for picture in object.reportimage_set.all %}
        <img src="{{picture.img.url}}" alt="">
    {% empty %}
        <tr>No pictures</tr>
    {% endfor %}
    <a href="{% url 'webpanels:reports' %}">Назад</a>
    <form action="." method="post">
        {% csrf_token %}
        {{form_report}}
        Напишите комментарий:
        {{form_comment}}
        <button type="submit">Отправить</button>
    </form>
{% endblock content %}